/*Footer css*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap');
body
{
    line-height: 2.5;
    font-family: 'Poppins', sans-serif;
}


.cnt
{
    max-width: 1170px;
    margin: auto;
}
.row
{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}
.footer
{
    
    bottom: 0px;
    width: 100%;
    background-color: rgb(19, 18, 18);
    
}


.footer-col h4
{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li::not(:last-child)
{
    margin-bottom: 10px;

}
.footer-col ul li a
{
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    translate: all 0.3s ease;
}
.footer-col ul li a:hover
{
    color: #fff;
    padding-left: 5px;
}
.footer-col .social-link a
{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    translate: all 0.3s ease;

}

.footer-col .social-link a:hover
{
    color: #24262b;
    background-color: #fff;
    
}
.box
{
    flex-basis: 50%;
    padding: 10px 20px;
    color: #bbb;
}
.box .place:hover
{
    color: #fff;
    padding-right: 5px;
}
.box .phone:hover
{
    color: #fff;
    padding-right: 5px;
}
.box .email:hover
{
    color: #fff;
    padding-right: 5px;
}



@media(max-width : 767px)
{
    .footer-col {
        width: 50%;
       margin-bottom: 30px;
    }
}

@media(max-width : 400)
{
    .footer-col {
        width: 100%;
    }
}