{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'contact_us.css' %}" type="text/css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body style="background-image:f1.jpg">
    <div class="container">
        <header>
            <h1>Contact Us</h1>
            <p>If you have any query please feel free to contact us<br>
             We will do our best to accommodate your request.
            </p>
        
        </header>
        <div class="content">
            <div class="content-form">
                <section>
                    <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                    <h2>address</h2>
                    <p>
                        Halishahar, <br>
                        Chittagong <br>
                        
                    </p>
                </section>
                
                <section>
                    <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                    <h2>Phone</h2>
                    <p>+00123456789</p>
                </section>

                <section>
                    <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                    <h2>E-mail</h2>
                    <p>memoryskitchen&beautyglaze@gmail.com</p>
                </section>
            </div>
        </div>

      <form method="POST">
       {% csrf_token %}
        <div class="form">
            <div class="right">
              <div class="contact-form">
                  <input type="text" required name="Username">
                  <span>Username</span>
              </div>
  
              <div class="contact-form">
                  <input type="Email" required name="Email">
                  <span>E-mail</span>
              </div>
              <div class="contact-form">
                  <textarea  required name="Textarea">
                    
                  </textarea>
                  <span> Type your Message....</span>
              </div>
  
              <div class="contact-form">
                 <button type='submit' value="Submit">Submit</button>
              </div>

            <div>
            </br></br>{% if messages %}
                {% for msg in messages%}
                <h3>{{msg}}
                <button class="btn"><a href="{%url 'home'%}"> Back</a></button>
                {%endfor%}
                {%endif%}
                
            </div>

	  

              </div>
            </div>
          </div>

          
    </form>
        <div class="media">
            <li><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></li>
            <li><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></li>
            <li><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></li>
            <li><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></li>
        </div>
        <div class="empty">

        </div>
    </div>    
</body>
</html>