
{% extends 'nav.html' %}

{% block  content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Sweet Item</title>
	<link rel="stylesheet" type="text/css" href="{% static 's_menu.css' %}" >
</head>
<body>
    <div id="wrapper">
    	<div class="card_group">
    		<div  class="card">
    			<div class="card_image">
					<img src="{% static 'khir.jpg' %}" >
    			
                </div>
    			<div class="card_content">
    				<h4>Khir Mohon</h4>
    				<p style="color: orange;">
    					12 piece = 430 tk.
    				</p>
    			</div>
    			<div class="card_buttons">
    				<a href="Sweet_order/">Order Now</a>
    				<a href="Calculatess/">Calculator</a>
    			</div>
    		</div>

    		<div  class="card">
    			<div class="card_image">
				<img src="{% static 'spong.jpg' %}" >
    				
                </div>
    			<div class="card_content">
    				<h4>Sponge Mishti</h4>
    				<p style="color: red;">
    					1 kg = 400 tk.
    				</p>
    			</div>
    			<div class="card_buttons">
    				<a href="Sweet_order/">Order Now</a>
					<a href="Calculatess/">Calculator</a>
    			</div>
    		</div>
    		<div  class="card">
    			<div class="card_image">
				<img src="{% static 'ra.jpg' %}" >
    				
                </div>
    			<div class="card_content">
    				<h4>Rashmalay</h4>
    				<p style="color: yellow;">
    					1 kg = 450 tk.
    				</p>
    			</div>
    			<div class="card_buttons">
    				<a href="Sweet_order/">Order Now</a>
					<a href="Calculatess/">Calculator</a>
    			</div>
    		</div>
    	</div>
    </div>
</body>
</html>

{% endblock  %}